.products-page {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .product-card {
    height: 400px;
  }
  
  /* Sidebar styles */
  .sidebar-filters {
    flex: 0 0 260px;
  }
  
  /* Product grid area */
  .products-container-page {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px; /* row-gap column-gap */
    flex: 1;
    justify-content: flex-start;  
    align-content: flex-start; 
    align-items: flex-start;
  }

  .products-page h2,
  .products-page p {
    text-align: center;
    width: 100%;
  }
  